<%- include('../layout/admin/header') %>


<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="box  p-2 rounded-4  m-3 mt-4  text-center">
                <a class="nav-link text-white fs-5" href="/userManagement">User Management</a>
            </div>
            <div class="box  p-2 rounded-4  m-3 mt-4  text-center">
                <a class="nav-link text-white fs-5" href="/productManagement">Product Management</a>
            </div>

            <div class="box  p-2 rounded-4  m-3 mt-4  text-center">
                <a class="nav-link text-white fs-5"
                    href="/catagoryManagement">Catagory Management</a>
            </div>
            <div class="box  p-2 rounded-4  m-3 mt-4  text-center">
                <a class="nav-link text-white fs-5"
                    href="/bannerManagement">Banner Management</a>
            </div>
            <div class="box  p-2 rounded-4  m-3 mt-4  text-center">
                <a class="nav-link text-white fs-5"
                    href="/orderManagement">Order Management</a>
            </div>
        </div>
    </div>
</div>
 
    <%- include('../layout/admin/footer') %>