<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>adminPanel</h1>
    <form action="/digiWorld/admin/adminLogout" method="post">
        <button type="submit">logout</button>
    </form>

    <div>
        <a href="/digiWorld/admin/userManagement">userManagement</a>
    </div>
    <div>
        <a href="/digiWorld/admin/productManagement">productManagement</a>
    </div>

    <div>
        <a href="/digiWorld/admin/catagoryManagement">catagoryManagement</a>
    </div>
</body>
</html>