<%- include('../layout/admin/header') %>

    <div class="container">
        <div class="row vh-100 justify-content-center align-items-center ">
            <div class="col-4 text-center ">
                <form action="/digiWorld/admin/adminOtpVerificationCode" method="post">
                    <% locals.otpErrorMessage?locals.otpErrorMessage:'' %>
                        <% if(locals.otpErrorMessage) {%>
                            <h6 class="text-warning ">
                                <%= locals.otpErrorMessage %>
                            </h6>
                            <% } %>
                                <input class="form-control mb-3 " type="text" name="otp" placeholder="enter the otp">
                                <button type="submit" class="btn btn-primary loginButtonColor">Submit</button>
                </form>
            </div>
        </div>
    </div>


    <%- include('../layout/admin/footer') %>