<%- include('../layout/admin/header') %>
    <form action="/adminSignUp" method="post">
        <input type="text" name="firstName" placeholder="firstName">
        <input type="text" name="lastName" placeholder="lastName">
        <input type="text" name="email" placeholder="email">
        <input type="text" name="phone" placeholder="phone">
        <input type="text" name="userName" placeholder="useranme">
        <input type="password" name="password" placeholder="password">
        <input type="submit" value="submit" >
    </form>
    <%- include('../layout/admin/footer') %>