<%- include('../layout/admin/header') %>
    <form action="/digiWorld/admin/adminLogin" method="post">
        <% locals.unAutherisedAdmin ||''%>
            <% if(locals.unAutherisedAdmin) {%>
                <h3>
                    <% locals.unAutherisedAdmin %>
                </h3>
                <% } else if(locals.loginErrorMessage) {%>
                    <h3>
                        <% locals.loginErrorMessage %>
                    </h3>
                    <% } %>
                        <input type="text" name="userName" placeholder="userName"><br><br>
                        <input type="password" name="password" placeholder="password"><br><br>
                        <input type="submit" value="submit">
    </form>
    <%- include('../layout/admin/footer') %>