<%- include('../layout/admin/header') %>
    <%- include('../layout/admin/generalManagement') %>
        <div class="col">
            <div class="row">
                <div class="row align-items-center justify-content-between">
                    <div class="col-4 mb-3">
                        <% locals.filterData || "" %>
                            <h4 class="text-white border-bottom border-2 w-auto text-center pb-2 fw-semibold ">Sales
                                Proportion</h4>
                            <div>
                                <canvas data-result="<%=JSON.stringify(locals.filterData)%>" id="firstCan"
                                    class="text-white "></canvas>
                            </div>
                    </div>
                    <div class="col-4">
                        <a class="btn btn-primary " href="/salesReport">Sales Report</a>
                    </div>
                </div>
            </div>

            <div class="row mt-4 ">
                <div class="col-6">
                    <h4 class="text-white border-bottom border-2 w-auto text-center pb-3 mb-3 fw-semibold ">Sales and
                        Return
                        Proportion</h4>
                    <div>
                        <canvas id="secondCan"></canvas>
                    </div>
                </div>
                <div class="col-6">
                    <h4 class="text-white border-bottom border-2 w-auto text-center pb-3 mb-3 fw-semibold ">Brand and No
                        of Products</h4>
                    <div>
                        <canvas id="thirdCan"></canvas>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="/javaScript/admin/adminPanel.js"></script>
        <%- include('../layout/admin/footer') %>