<%- include('../../layout/admin/header') %>
    <form action="/digiWorld/admin/userManagement/editConfirm" method="post">
        <h1>confirm the action</h1>
        <input type="submit" value="Confirm">
        <a href="/digiWorld/admin/userManagement">cancell</a>
    </form>
    <%- include('../../layout/admin/footer') %>