<%- include('../../layout/admin/header') %>
<div class="container">
    <div class="row vh-100 justify-content-center align-items-center ">
        <div class="col-4 text-center ">
            <form action="/digiWorld/admin/userManagement/deleteConfirm" method="post">
                <h5 class="text-warning ">confirm the action</h5>
                <button type="submit" class="btn btn-primary ">Confirm</button>
                <a class="btn btn-primary " href="/digiWorld/admin/userManagement">cancell</a>
            </form>
        </div>
    </div>
</div>
  
    <%- include('../../layout/admin/footer') %>