<%- include('../../layout/admin/header') %>
   <div class="container">
      <div class="row vh-100 justify-content-center align-items-center ">
         <div class="col-4 text-center ">
            <form action="/digiWorld/admin/userManagement/editSubmit" method="post">
               <select class="form-select mb-2 " name="status" id="status">
                  <option value="true">Activate</option>
                  <option value="false">Block</option>
               </select>


               <button type="submit" class="btn btn-primary ">Submit</button>
            </form>
         </div>
      </div>
   </div>

   <%- include('../../layout/admin/footer') %>