.box{
    background-color: rgba(125, 90, 170, 0.2);  
}

/* buttons*/
.searchButton{
    background: transparent;
    border-color: #F9EFEF;
    color:#F9EFEF ;
}
.searchButton:hover{
    background-color: rgba(25, 16, 34, 0.2);
}

.loginButtonColor{
    background-color:#351a58 ;
    border: none;
}
.loginButtonColor:hover{
    background-color:#351a58 ;
    opacity: .5;
}