@import "./adminPanel.css";
@import "./orderSinglePage.css";
@import "./userManagement.css";
@import "./productManagement.css";
body{
    background-color:#08030f ;
}
.navbarBg{
    background-color:#351a58 ;
}

.navbar a{
    color: #F9EFEF;
}
/* adminPanel , catagory management ,product management, usermanagement*/
.box{
    background-color: rgba(125, 90, 170, 0.2);  
}




