<div class="container">
    <div class="row">
        <div class="col box  p-2 rounded-4  m-3 mt-4  text-center"> <a class="nav-link text-white fs-5"
                href="/userManagement">userManagement</a></div>
        <div class="col box  p-2 rounded-4  m-3 mt-4  text-center"><a class="nav-link text-white fs-5"
                href="/productManagement">productManagement</a></div>
        <div class="col box  p-2 rounded-4  m-3 mt-4  text-center"><a class="nav-link text-white fs-5"
                href="/catagoryManagement">catagoryManagement</a></div>
        <div class=" col box  p-2 rounded-4  m-3 mt-4  text-center">
            <a class="nav-link text-white fs-5" href="/bannerManagement">bannerManagement</a>
        </div>
    </div>
</div>