<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DigiWorld</title>
    <!-- bootrstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Datatable plugin CSS file -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" />


    <!-- jQuery library file  for datatable-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js">
    </script>

    <!-- Datatable plugin JS library file  for data table -->
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js">
    </script>
    <!-- custome css -->
    <link rel="stylesheet" href="/style/admin/layoutHeader.css" type="text/css">

    <!-- jQuery for ajax and razorpay-->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script> -->
    <!-- RazorPay -->
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbarBg">
        <div class="container-fluid">
            <a class="navbar-brand " href="/adminLogin">DigiWorld</a>

            <%= locals.login || "" %>
                <%= locals.otp || '' %>

                    <% if(!locals.login && !locals.otp) {%>

                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <form class="d-flex ms-auto" role="search">
                                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-success me-3 searchButton" type="submit">Search</button>
                            </form>
                            <ul class="navbar-nav  me-5 mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <form action="/adminLogout" method="post">
                                        <button class="btn btn-outline-danger searchButton"
                                            type="submit">LogOut</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                        <% } %>
        </div>
    </nav>