<%- include('../../layout/admin/header') %>
    <%- include('../../layout/admin/generalManagement') %>

        <div class="container">
            <div class="row vh-100 justify-content-center align-items-center ">
                <div class="col-4 text-center ">
                    <form action="/createBrand" method="post">
                        <%locals.brandCreation || '' %>
                            <% if(locals.brandCreation) {%>
                                <h6 class="text-warning ">
                                    <%=locals.brandCreation %>
                                </h6>
                                <% } %>
                                    <input class="form-control  " type="text" name="brandName" required
                                        placeholder="brandName"><br>
                                    <button type="submit" class="btn btn-primary loginButtonColor">Create</button>
                    </form>
                </div>
            </div>
        </div>
        <%- include('../../layout/admin/footer') %>