.checkOut-img-size{
  height: 50px;
  width: 50px;
  border-radius: 10px;
}
.checkOut-incOrdec-button-color{
 background-color: rgb(94, 90, 90);
  
}
.checkOut-input{
width: 150px;
height: 25px;
font-size: 15px;
}
.checkOut-label{
  font-size: 15px;
}
.checkOut-address-button{
  height: 25px;
  width: fit-content;
  font-size: 15px;
  text-align: center;
  line-height: 10px;
}
.checkOut-price-buttons{
  width: 250px;
}

.checkOut-container-bg{
  background-color: rgba(125, 90, 170, 0.2);  
}
.coupon-cursor{
  cursor: pointer;
}