@import './userProfile.css';
@import './cart.css';
@import './checkOut.css';


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body{
    background-color:#08030f ;
    font-family: 'Poppins', sans-serif;
   
}
.navbarBg{
    /* background-color:#351a58 ; */
    /* background-color: rgba(25, 16, 34, 0.2);  */
    background-color:#351a58 ;
}

.navbar a{
    color: #F9EFEF;
}
/* userHome */
.bannerSize{
    height: 600px;
    width: 100vw;
    overflow: hidden;
}
/* common for userHome brandPage singleProductPage */
/*  */
.filter{
    background-color: rgba(25, 16, 34, 0.2); 
}
/* image size */
.imgSize{
    height: 250px;
    width: 250px;
}
/* buttons*/
.searchButton{
    background: transparent;
    border-color: #F9EFEF;
    color:#F9EFEF ;
}
.searchButton:hover{
    background-color: rgba(25, 16, 34, 0.2);
}

.loginButtonColor{
    background-color:#351a58 ;
    border: none;
}
.loginButtonColor:hover{
    background-color:#351a58 ;
    opacity: .5;
}
/* singleProductPage */
.gallery-img-size{
    width: 100px;
    height: 100px;
}

/* singleProductPage  zoom view*/

.img-zoom-container {
    position: relative;
  }
  
  .img-zoom-lens {
    position: absolute;
    border: 1px solid #d4d4d4;
    width: 100px;
    height: 100px;
  }
  
  .img-zoom-result {
    border: 1px solid #d4d4d4;
    width: 300px;
    height: 300px;
  }
  
  /* footer */
  .footer{
    background-color:#10091a ;
    color:#F9EFEF ;
    position: relative;
    bottom: -13px;
  }


  /* brand scroller */
 /* Custom Carousel Styles */
.carousal-button-prev{
    position: absolute;
    left:-100px;
    margin-right: 100px;
    width: 20px;
}
.carousal-button-next{
    position: absolute;
    right:-100px;
    margin-left: 10px;
    width: 20px;
}



/* profile image adder */


