.orderSinglePage-item-background{
  background-color: rgba(130, 130, 179, 0.219);
  height: 170px;
  border-radius: 10px;
}
.orderSinglePage-img-size{
  height: 90px;
  width: 90px;
  border-radius: 10px;
}
.orderSinglePage-address-background{
  background-color: rgba(56, 56, 102, 0.219);
  height: auto;
  border-radius: 10px;
}
.orderSinglePage-textArea-background{
  background-color: rgba(130, 130, 179, 0.219);
}

.orderSinglePage-rating-container{
  background-color: rgba(130, 130, 179, 0.219);
}
