<%- include('../layout/user/header') %>
  <% locals.order || "" %>
    <% if(locals.order) {%>
      <p>
        <%=locals.order[0].brandName %>
      </p>
      <% for (let i=0;i<locals.order.length;i++){ %>

        <% } %>
          <% } %>
            <script src="/javaScript/user/header.js"></script>
            <%- include('../layout/user/footer') %>