<%- include('../layout/user/header') %>

    <div class="container">
        <div class="row vh-100 justify-content-center justify-content-sm-end  align-items-start mt-4">
            <div class="col-4">
                <form action="/userSignUp" method="post">
                    <% locals.errorMessage?locals.errorMessage:'' %>
                        <% if(locals.errorMessage) {%>
                            <h6 class="text-danger ">
                                <%= locals.errorMessage %>
                            </h6>
                            <% } %>
                                <label class="form-label text-white " for="firstName">First Name</label>
                                <input class="form-control w-75 " id="firstName" required type="text" name="firstName"
                                    placeholder="First Name">
                                <!-- <label class="form-label text-white " for="lastName">Last Name</label>
                                <input class="form-control w-75 " id="lastName" type="text" name="lastName"
                                    placeholder="Last Name"> -->
                                <label class="form-label text-white " for="email">Email</label>
                                <input class="form-control w-75 " id="email" required type="text" name="email"
                                    placeholder="email">
                                <label class="form-label text-white " for="phone">Phone Number</label>
                                <input class="form-control w-75 " id="phone" required type="text" name="phone"
                                    placeholder="phone">
                                <label class="form-label text-white " for="userName">User Name</label>
                                <input class="form-control w-75 " id="userName" required type="text" name="userName"
                                    placeholder="User Name">
                                <label class="form-label text-white " for="password">Password</label>
                                <input class="form-control w-75" id="password" required type="password" name="password"
                                    placeholder="Password">
                                <label class="form-label text-white " id="confirm_password_label" for="Confirm_Password" data-value="Confirm Password">Confirm Password</label>
                                <input class="form-control w-75 mb-3" id="Confirm_Password" required type="password"
                                    name="Confirm_Password" placeholder="Confirm Password">


                                <button type="submit" id="submitButton"
                                    class="btn btn-primary w-50  loginButtonColor">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <script src="/javaScript/user/signUp.js"></script>
    <%- include('../layout/user/footer') %>