<%- include('../layout/user/header') %>

    <div class="container ">
        <div class="row vh-100 justify-content-center justify-content-sm-end  align-items-center ">
            <div class="col-4">
                <form action="/userLogin" method="post">
                    <% if (locals.errorMessages === 'you are blocked by admin' || locals.errorMessages === 'invalid username or password') { %>
                        <h6 class="text-danger">
                            <%= locals.errorMessages %>
                        </h6>
                    <% } else if (locals.errorMessages) { %>
                        <h6 class="text-success">
                            <%= locals.errorMessages %>
                        </h6>
                    <% } %>
                                                <label class="form-label text-white " for="email">Email</label>
                                                <input class="form-control w-75 " type="text" name="email"
                                                    placeholder="email" id="email" required>
                                                <label class="form-label text-white " for="password">Password</label>
                                                <input pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" class="form-control w-75  mb-3" type="password" name="password"
                                                    placeholder="password" id="password" required>
                                                <button type="submit"
                                                    class="btn btn-primary loginButtonColor w-50">Submit</button>
                </form>
                <a class="nav-link mt-3 text-white " href="/userSignUp">Don`t have an Account</a>
            </div>
        </div>
    </div>
    <%- include('../layout/user/footer') %>