<%- include('../layout/user/header') %>
    <% locals.otpErrorMessage?locals.otpErrorMessage:'' %>
        <% if(locals.otpErrorMessage) {%>
            <h3>
                <%= locals.otpErrorMessage %>
            </h3>
            <% } %>
                <form action="/digiWorld/user/userOtpVerificationCode" method="post">
                    <input type="text" name="otp" placeholder="enter the otp">
                    <input type="submit" value="submit">
                </form>
                <%- include('../layout/user/footer') %>