<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/digiWorld/user/userLogin" method="post">
        <% locals.userSignUpSuccess || '' %>
            <% locals.loginErrorMessage || '' %>
            <% locals.block || '' %>

                <% if(locals.userSignUpSuccess) {%>
                    <h3>
                        <%= userSignUpSuccess %>
                    </h3>
                    <% } else if(locals.loginErrorMessage) {%>
                        <h3>
                            <%= loginErrorMessage %>
                        </h3>
                        <% } else if(locals.block) {%>
                            <h3>
                                <%= block %>
                            </h3>
                            <% } %>
                                <input type="text" name="userName" placeholder="userName"><br><br>
                                <input type="password" name="password" placeholder="password"><br><br>
                                <input type="submit" value="submit">
    </form>
</body>

</html>