<%- include('../layout/user/header') %>

    <div class="container">
        <div class="row vh-100 justify-content-center align-items-center ">
            <div class="col-4 text-center ">
                <form action="/userOtpVerificationCode" method="post">
                    <% locals.otpErrorMessage?locals.otpErrorMessage:'' %>
                        <% locals.notVerified?locals.notVerified:'' %>
                            <% if(locals.otpErrorMessage) {%>
                                <h6 class="text-danger ">
                                    <%= locals.otpErrorMessage %>
                                </h6>
                                <% } else if(locals.notVerified){%>
                                    <h6 class="text-warning  ">
                                        <%= locals.notVerified %>
                                    </h6>
                                    <% } %>
                                        <input class="form-control mb-3 " type="text" name="otp"
                                            placeholder="enter the otp">
                                        <button type="submit" class="btn btn-primary loginButtonColor w-50">Submit</button>
                </form>
                </form>
            </div>
        </div>
    </div>

    <%- include('../layout/user/footer') %>