<%- include('../../layout/admin/header') %>
    <div class="container">
        <div class="row vh-100 justify-content-start  align-items-start">
            <div class="col-4">
                <form action="/digiWorld/admin/productManagement/createProduct" method="post"
                    enctype="multipart/form-data">


                    <% if(locals.brand.length) {%>

                        <select class="form-control w-75 mt-2 " id="brand" name="brandName">

                            <% locals.brand.forEach(brandName=> {%>
                                <option value="<%=brandName%>">
                                    <%=brandName%>
                                </option>
                                <% }) %>
                        </select><br>
                        <% } else{%>
                            <input type="text" name="brandName" placeholder="brandName"><br>
                            <% } %>

                                <input class="form-control w-75 " type="text" name="productName"
                                    placeholder="productName" id="productName"><br>

                                <input class="form-control w-75 " type="text" name="quantity" placeholder="quantity"
                                    id="quantity"><br>
                                <input class="form-control w-75 " type="text" name="unitPrice"
                                    placeholder="unitPrice"><br>
                                <input class="form-control w-75 " type="file" name="gallery" placeholder="gallery"
                                    multiple><br>
                                <input class="form-control w-75 " type="text" name="discription"
                                    placeholder="discription"><br>
                                <input class="form-control w-75 " type="text" name="frontCamera"
                                    placeholder="frontCamera"><br>
                                <input class="form-control w-75 " type="text" name="backCamera"
                                    placeholder="backCamera"><br>
                                <input class="form-control w-75 " type="text" name="ram" placeholder="ram"><br>
                                <input class="form-control w-75 " type="text" name="internalStorage"
                                    placeholder="internalStorage"><br>
                                <input class="form-control w-75 " type="text" name="battery" placeholder="battery"><br>
                                <input class="form-control w-75 " type="text" name="processor"
                                    placeholder="processor"><br>
                                <input class="form-control w-75 " type="text" name="chargerType"
                                    placeholder="chargerType"><br>
                                <input type="submit" value="submit">
                </form>
            </div>
        </div>
    </div>
    <%- include('../../layout/admin/footer') %>