<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DigiWorld</title>
    <!-- bootrstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- custome css for general -->
    <link rel="stylesheet" href="/style/user/layoutHeader.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbarBg ">
        <div class="container-fluid">
            <a class="navbar-brand " href="/digiWorld/user/userHome">DigiWorld</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form class="d-flex ms-auto" role="search" action="/digiWorld/user/search" method="post">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                        name="search">
                    <button class="btn btn-outline-success searchButton " type="submit">Search</button>
                </form>

                <ul class="navbar-nav  me-5 mb-2 mb-lg-0">

                    <% locals.userName || "" %>
                        <% if(!locals.userName) {%>
                            <li class="nav-item">
                                <a class="nav-link  " aria-current="page" href="/digiworld/user/userLogin">
                                    LogIn
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link  " aria-current="page" href="#">
                                    Contact Us
                                </a>
                            </li>
                            <% } else {%>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-capitalize" href="#" role="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        <%= locals.userName %>
                                    </a>
                                    <ul class="dropdown-menu navbarBg">
                                        <li><a class="dropdown-item" href="#">Profile</a></li>
                                        <li><a class="dropdown-item" href="#">Orders</a></li>
                                        <li><a class="dropdown-item" href="#">WishList</a></li>
                                        <li><a class="dropdown-item" href="#">Notifications</a></li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li>
                                            <form action="/digiworld/user/userLogOut" method="post">
                                                <button class="dropdown-item text-danger " type="submit">LogOut</button>
                                            </form>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link " href="#">Cart</a>
                                </li>
                                <% } %>


                </ul>

            </div>
        </div>
    </nav>
    <!-- brand bar -->
    <% locals.brands || '' %>
        <% if(locals.brands && locals.brands.length) {%>
            <div class="container">
                <div class="row text-white">
                    <% locals.brands.forEach(brand=>{%>
                        <div class="brandBox col-2  p-4 rounded-4  m-3 mt-4  text-center ">
                            <form action="/digiWorld/user/brandPage" method="post">
                                <input class="fs-2 fw-bold nav-link " type="submit" name="brandName" value="<%=brand%>">
                            </form>

                        </div>

                        <%}) %>
                            <hr class="mt-3 ">
                </div>
            </div>
            <% } %>