<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DigiWorld</title>
    <!-- font awsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <!-- bootrstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- custome css for general -->
    <link rel="stylesheet" href="/style/user/layoutHeader.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbarBg ">
        <div class="container-fluid">
            <a class="navbar-brand " href="Home">DigiWorld</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form class="d-flex ms-auto" role="search" action="/search" method="get">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                        name="search">
                    <button class="btn btn-outline-success searchButton " type="submit">Search</button>
                </form>

                <ul class="navbar-nav  me-5 mb-2 mb-lg-0">

                    <% locals.userName || "" %>
                        <% if(!locals.userName) {%>
                            <li class="nav-item">
                                <a class="nav-link  " aria-current="page" href="/userLogin">
                                    LogIn
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link  " aria-current="page" href="#">
                                    Contact Us
                                </a>
                            </li>
                            <% } else {%>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-capitalize" href="#" role="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        <%= locals.userName %>
                                    </a>
                                    <ul class="dropdown-menu navbarBg">
                                        <li><a class="dropdown-item" href="">Profile</a></li>
                                        <li><a class="dropdown-item" href="#">Orders</a></li>
                                        <li><a class="dropdown-item" href="#">WishList</a></li>
                                        <li><a class="dropdown-item" href="#">Notifications</a></li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li>
                                            <form action="/userLogOut" method="post">
                                                <button class="dropdown-item text-danger " type="submit">LogOut</button>
                                            </form>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link " href="#">Cart</a>
                                </li>
                                <% } %>


                </ul>

            </div>
        </div>
    </nav>
    <!-- brand bar -->


    <div class="container">
        <div id="brandCarousel" class="carousel">
            <div class="carousel-inner">
                <% locals.brands || '' %>

                    <% if(locals.brands && locals.brands.length) { %>
                        <% let brandChunks=[]; %>
                            <% for (let i=0; i < locals.brands.length; i +=5) { %>
                                <% brandChunks.push(locals.brands.slice(i, i + 5)); %>
                                    <% } %>

                                        <% brandChunks.forEach((chunk, index)=> { %>
                                            <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                                                <div class="scroller d-flex text-white">
                                                    <% chunk.forEach(brand=> { %>
                                                        <div
                                                            class="brandBox col-2  p-4 rounded-4  m-3 mt-4  text-center ">
                                                            <form action="/brandPage" method="get">
                                                                <input class="fs-2 fw-bold nav-link " type="submit"
                                                                    name="brandName" value="<%= brand %>">
                                                            </form>
                                                        </div>
                                                        <% }); %>
                                                </div>
                                            </div>
                                            <% }); %>
                                                <% } %>


            </div>
            <button class="carousel-control-prev carousal-button-prev" type="button" data-bs-target="#brandCarousel"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next carousal-button-next" type="button" data-bs-target="#brandCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>